mat-icon:hover {
  cursor: pointer;
}

.add-icon {
  transform: scale(10);
}

.filter {
  text-align: center;
}

.mat-grid-tile {
  overflow: unset !important;
}

.card-list {
  margin-top: 1rem;
}

h2 {
  text-align: center;
}
