<h2 mat-dialog-title>Añadir nueva clave</h2>

<mat-dialog-content [formGroup]="form">
  <mat-form-field class="full-width" appearance="standard">
    <mat-label>{{ "service_name" | translate }} </mat-label>
    <input matInput type="text" formControlName="service" />
  </mat-form-field>

  <mat-form-field class="full-width" appearance="standard">
    <mat-label
      >{{ "username" | translate }} {{ "or" | translate }}
      {{ "email" | translate }}
    </mat-label>
    <input matInput type="text" formControlName="username" />
  </mat-form-field>

  <mat-form-field class="full-width">
    <input
      matInput
      placeholder="Contraseña del servicio"
      [type]="hide ? 'password' : 'text'"
      formControlName="key"
      required
    />
    <mat-icon
      matSuffix
      (click)="hide = !hide"
      style="margin-bottom: -0.45rem"
      >{{ hide ? "visibility_off" : "visibility" }}</mat-icon
    >
  </mat-form-field>

  <mat-form-field class="full-width" appearance="standard">
    <mat-label>{{ "URL" | translate }} </mat-label>
    <input matInput type="url" formControlName="URL" />
  </mat-form-field>

  <!-- <mat-form-field class="full-width">
    <mat-label>{{ "Imagen del servicio" | translate }} </mat-label>
    <ngx-mat-file-input
      formControlName="image"
      color="primary"
      multiple="false"
      color=""
    >
      <mat-icon ngxMatFileInputIcon>attach_file</mat-icon>
    </ngx-mat-file-input>
  </mat-form-field> -->

  <mat-form-field class="full-width" *ngIf="!data?.isWorkgroupKey">
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let workGroup of chipSelectedWorkGroups"
        [selectable]="true"
        [removable]="true"
        (removed)="removeWorkGroup(workGroup)"
      >
        {{ workGroup.name }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Añadir grupos de trabajo"
        #workGroupInput
        [formControl]="workGroupControl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="true"
        (matChipInputTokenEnd)="addWorkGroup($event)"
      />
    </mat-chip-list>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="workGroupSelected($event)"
    >
      <mat-option
        *ngFor="let thisWorkGroupName of filteredWorkGroups | async"
        [value]="thisWorkGroupName"
      >
        {{ thisWorkGroupName }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Cancelar</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Añadir</button>
</mat-dialog-actions>
