mat-icon:hover {
  cursor: pointer;
}

.big-icon {
  transform: scale(5);
  margin-bottom: -0.5rem;
}

.mat-grid-tile {
  overflow: unset !important;
}

.actions {
  text-align: right;
  padding: 0;
  margin-top: -0.2rem;
}

.person {
  margin-top: 1rem;
  text-align: center;
}

.employeeName {
  margin-top: 4rem;
  text-align: center;
}

.card-list {
  margin-top: 1rem;
}

.filter {
  text-align: center;
}

.container:hover {
  cursor: pointer;
}
