<!-- <h2 mat-dialog-title>Eliminar clave</h2>
<mat-dialog-content>
  ¿Desea eliminar las claves, compartirlas con otro usuario o asumirlas?
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button mat-warn" (click)="close()">Eliminar</button>
  <button class="mat-raised-button" (click)="save()">Compartir</button>
  <button class="mat-raised-button mat-accent" (click)="save()">Asumir</button>
</mat-dialog-actions> -->
<h2 mat-dialog-title>Eliminar clave</h2>
<mat-dialog-content>
  ¿Desea eliminar las claves? Si pulsa eliminar tiene la opción de compartirlas
  con alguien más antes de borrarlas. Tenga en cuenta que independientemente de
  esto el administrador siempre tendrá una copia de estas.
</mat-dialog-content>
<!-- <mat-dialog-content>
  ¿Desea eliminar las claves o compartirlas con otro
  usuario?</mat-dialog-content
> -->
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Cancelar</button>
  <button class="mat-raised-button mat-warn" (click)="save()">Eliminar</button>
</mat-dialog-actions>
