<div class="container-wrap">
  <form [formGroup]="form" (ngSubmit)="confirm()">
    <h1>BE2PASS</h1>
    <mat-card>
      <mat-card-title class="title"
        >{{ "recover" | translate }}
        {{ "password" | translate }}</mat-card-title
      >
      <mat-card-content>
        <mat-form-field class="full-width" appearance="standard">
          <mat-label
            >{{ "new" | translate }} {{ "password" | translate }}</mat-label
          >
          <input matInput type="password" formControlName="password" />
          <mat-error *ngIf="isConfirmed && !areEqual"></mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="standard">
          <mat-label
            >{{ "confirm" | translate }} {{ "password" | translate }}</mat-label
          >
          <input matInput type="password" formControlName="confirmPassword" />
        </mat-form-field>

        <mat-card-actions align="end">
          <button mat-flat-button class="button">
            <fa-icon [icon]="faSpinner" *ngIf="waiting"></fa-icon>
            {{ "recover" | translate }} {{ "password" | translate }}
          </button>
          <button mat-flat-button class="button" routerLink="/login">
            {{ "login" | translate }}
          </button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </form>
</div>
