<h2 mat-dialog-title>Añadir grupo de trabajo</h2>

<mat-dialog-content [formGroup]="form">
  <mat-form-field class="full-width" appearance="standard">
    <mat-label>{{ "name" | translate }} </mat-label>
    <input matInput type="text" formControlName="name" />
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let employee of chipSelectedEmployees"
        [selectable]="true"
        [removable]="true"
        (removed)="removeEmployee(employee)"
      >
        {{ employee.email }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Añade empleados"
        #employeeInput
        [formControl]="employeeControl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="true"
        (matChipInputTokenEnd)="addEmployee($event)"
      />
    </mat-chip-list>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="employeeSelected($event)"
    >
      <mat-option
        *ngFor="let thisEmployeeEmail of filteredEmployees | async"
        [value]="thisEmployeeEmail"
      >
        {{ thisEmployeeEmail }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Cancelar</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Añadir</button>
</mat-dialog-actions>
