<mat-card>
  <mat-card-title>{{ key.service?.toUpperCase() }}</mat-card-title>
  <mat-card-content>
    <div class="container">
      <p class="username-text">
        <label for="username">Nombre de usuario o correo</label>
        <input type="text" name="username" [value]="key.username" readonly />
      </p>
      <p>
        <label for="password">Contraseña</label>
        <input
          type="password"
          name="password"
          [value]="key.key?.slice(0, 10)"
          readonly
        />
        <fa-icon
          [icon]="faClipboard"
          (click)="openMasterPasswordDialog(true)"
        ></fa-icon>
      </p>
      <p>
        <label for="website">Sitio web:</label><br />
        <a [href]="key.URL">{{ key.URL }}</a>
      </p>
    </div>
  </mat-card-content>

  <mat-card-actions class="actions">
    <mat-icon *ngIf="canEdit" (click)="openEditKeyDialog()">edit</mat-icon>
    <mat-icon *ngIf="canShare" (click)="openShareKeyDialog()">share</mat-icon>
    <mat-icon *ngIf="canDelete" (click)="openDeleteKeyDialog()"
      >delete</mat-icon
    >
  </mat-card-actions>
</mat-card>
